/* body {
    margin: 4px;
    border-radius: 8px;   
} */

* {
  font-family: "Roboto", sans-serif;
}
:root {
  --brand-color: rgb(82, 156, 241);
}
/* MOBILE FIRST  */
.header .image {
  background-color: black;
  height: 3rem;
}
.nav .button .image {
  height: 3rem;
  width: 3rem;
}

.header {
  background-color: black;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.button-header {
  background-color: black;
  border: solid black;
}
.button-planning {
  background: rgb(38, 183, 88);
  border-radius: 30px;
  border: none;
  color: white;
  width: 25rem;
  height: 3rem;
  margin: 2% 0 2% 0;
}

.hero {
  background: var(--brand-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20% 2% 5% 2%;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 4% 1% 4% 1%;
  text-align: start;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 4%;
}

h1,
h3,
p {
  color: white;
}

.terms {
}

/* MOBILE FIRST  */
